		<footer>
			<div class="container">
				<nav>
					<ul>
						<li><a href="/footer">Contact</a></li>
						<li><a href="/footer">Privacy Policy</a></li>
						<li><a href="/footer">About</a></li>
					</ul>
				</nav>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>