<h1>Edit <%= blog.title %></h1>

<form method="PUT" action="/blogs">
	<input type="text" name="blog[title]" value="<%= blog.title %>">
	<textarea name="blog[body]"><%= blog.body %></textarea>
	<input type="submit">
</form>