<%- include('partials/header') -%>

<div class="container">
	<form>
		<input type="text" name="email" placeholder="Enter your email address">
		<input type="text" name="password" placeholder="Enter your password">
		<input type="submit" name="Login">
	</form>
</div>

<%- include('partials/footer') -%>