<%- include('../partials/header') -%>

<div class="container">

	<h1>All users: (will get this to work for practice, but properly won't use it)</h1>
	<ul>
		<li>user 1</li>
		<li>user 2</li>
		<li>user 3</li>
	</ul>

</div>

<%- include('../partials/footer') -%>